@import "tailwindcss";

@theme {
  --color-brand-main: oklch(0.77 0.2044 130.85);
  --color-brand-main-hover: oklch(0.65 0.1754 131.68);
  --color-brand-light-gray: oklch(0.929 0.013 255.508);
  --color-brand-black: oklch(0.279 0.041 260.031);
  --color-brand-gray: oklch(0.446 0.043 257.281);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Estilos base (modo claro) */
:root {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1a202c; /* Color de texto oscuro para modo claro */
  background-color: #ffffff; /* Fondo claro */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
  color: #1a202c;
}

/* Estilos para modo oscuro */
.dark {
  color-scheme: dark;
}

.dark body {
  background-color: #1a202c;
  color: #f7fafc;
}

.dark nav {
  background-color: #2d3748 !important;
}

.dark .bg-white {
  background-color: #2d3748 !important;
}

.dark .text-brand-black {
  color: #f7fafc !important;
}

/* Otros elementos que necesiten estilos en modo oscuro */
.dark .card {
  background-color: #2d3748;
  border-color: #4a5568;
}
