@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #85cd18;
  --color-primary-hover: #66a40f;
  --color-white-mui: #ffffff;
  --color-black-mui: #414141;
}

@layer base {
  :root {
    --color-white: #ffffff;
    --color-black: #1d293d;
    --color-gray: #a8a7a7;
    --color-light-gray: #cacaca;
  }

  .dark {
    --color-white: #e4e4e4;
    --color-black: #313131;
    --color-gray: #414141;
    --color-light-gray: #525252;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
