@import "tailwindcss";

@theme {
  --color-brand-green: oklch(0.77 0.2044 130.85);
  --color-brand-green-hover: oklch(0.65 0.1754 131.68);
  --color-brand-light-gray: oklch(0.929 0.013 255.508);
  --color-brand-black: oklch(0.279 0.041 260.031);
  --color-brand-gray: oklch(0.446 0.043 257.281);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
